@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
}
.container {
  margin: auto;
  max-width: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}